header .container{
	padding-top: 75px;
}
	img{
	vertical-align: middle;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.intro-text{text-align: center; color: white;}

.name{
	display: block;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}
.skills{
	font-size: 1.25em;
	font-weight: 300;
}
body{
	-webkit-animation: pulse 30s infinite; animation: pulse 30s infinite;
}

@-webkit-keyframes pulse{
	0%{background:#03A9F4;}
	25%{background:#00E676;}
	50%{background:#2dace3;}
	75%{background:#4CAF50;}
	90%{background:#006064;}
	100%{background:#03A9F4;
}

@keyframes pulse{
	0%{background:#03A9F4;}
	25%{background:#00E676;}
	50%{background:#2dace3;}
	75%{background:#4CAF50;}
	90%{background:#006064;}
	100%{background:#03A9F4;
}