.main{
	padding: 50px;
	text-align: center;
}
header img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
body{
	-webkit-animation: pulse 30s infinite; animation: pulse 30s infinite;
}

@-webkit-keyframes pulse{
	0%{background:#03A9F4;}
	25%{background:#00E676;}
	50%{background:#2dace3;}
	75%{background:#4CAF50;}
	90%{background:#006064;}
	100%{background:#03A9F4;
}

@keyframes pulse{
	0%{background:#03A9F4;}
	25%{background:#00E676;}
	50%{background:#2dace3;}
	75%{background:#4CAF50;}
	90%{background:#006064;}
	100%{background:#03A9F4;
}
